
  <div class="navbar navbar-fixed-top  navbar-inverse">
    <div class="span1">
    </div>
    <div class="navbar-inner">
      <ul class="nav">
        <li class="active"><a href="org-validator">GLD validator</a></li>
      </ul>
      <div class="span1"> </div>
      <ul class="nav">
        <li #if($nav=="org-upload")class="active"#end><a href="org-validator">ORG validator</a></li>
        #if($upload && ($nav == "org-view" || $nav == "org-report"))
          <li #if($nav=="org-view")class="active"#end><a href="org-top-view?upload=$upload">ORG view</a></li>
          <li #if($nav=="org-report")class="active"#end><a class="report"  data-upload="$upload" href="#reporthref($upload)">ORG report</a></li>
        #end
        <li #if($nav=="qb-upload")class="active"#end><a href="qb-validator">Data Cube validator</a></li>
        #if($upload && $nav == "qb-test")
          <li #if($nav=="qb-test")class="active"#end><a href="qb-test?upload=$upload">Data Cube results</a></li>
        #end
      </ul>

    </div>
  </div>
