#parse("header.vm")
#set($nav="org-view")
#parse("navbar.vm")

<h2>2. Check the view of your data</h2>

<p>Here is a list of organizations found in this data. Click them to see more details.
  If the data looks right then please #report($upload) it.</p> 

#if($upload)
  #set($model = $lib.app.getUpload($upload))
  #if($model)
    #if($uri)

      ## Resource view
      #set($resource=$model.getNode($uri))
      <h3>Resource: #render($resource)</h3>
      <p><strong>URI:</strong> $resource.uRI</p>
      #restable($resource, "table-condensed table-bordered")

    #else

      ## Top level view
      #set($query = $lib.app.getQuery('listorg.sparql') + " LIMIT 1000")
      #set($orglist = $model.querySelectW($query))
      #foreach($row in $orglist)
          <div class="result-blob">
            <div class="blob-inner">
              <div>
                <strong>Organization:</strong> #linkorg($row.org, $upload)
              </div>
              <div>
                #cond("Label", $row.label, $upload)
                #cond("Preflabel", $row.prefLabel, $upload)
                #cond("Identifier", $row.identifier, $upload)
                #cond("Classification", $row.classification, $upload)
              </div>
              #if($row.description)
                <em>$row.description</em>
              #end
            </div>
          </div>
      #end
      #if($orglist.size() == 1000)
      <p>... showing first 1000 entries</p>
      #end
    #end

  #else
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Failed</strong> Could not retrieve uploaded data
        </div>
  #end
#else
  <p>No data specified, please <a href="upload">upload</a> samples first.</p>
#end


#parse("footer.vm")
