<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Mini browser</display-name>

  <filter>
    <filter-name>Jersey Web Application</filter-name>
    <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.epimorphics.webapi,com.epimorphics.org_verification</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.feature.FilterForwardOn404</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
         <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
         <param-value>com.sun.jersey.api.container.filter.PostReplaceFilter</param-value>
     </init-param>
  </filter>

<!--
  <filter>
    <filter-name>VelocityFilter</filter-name>
    <filter-class>com.epimorphics.server.templates.VelocityFilter</filter-class>
    <init-param>
      <param-name>renderService</param-name>
      <param-value>velocity</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>VelocityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 -->

  <filter-mapping>
    <filter-name>Jersey Web Application</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.epimorphics.server.core.ServiceConfig</listener-class>
  </listener>

  <context-param>
    <param-name>service-config</param-name>
    <!-- Will initialize from first of these it finds -->
    <param-value>${webapp}/WEB-INF/services.conf</param-value>
  </context-param>

    <welcome-file-list>
        <welcome-file>start/index.html</welcome-file>
    </welcome-file-list>

</web-app>
